.DS_Store
__pychache__
.ipnb_checkpoints
old_files/*
data/archive/*
Dev/Archive/*
dev/Archive/*
query/reacto.owl
Glover/*
Chou/*
notebooks/archive/
notebooks/archive/*
test_data/junk
test_data/junk/*
test_data/unprocessed/*
figures/*
sim_results/
sim_results
data/kegg/*
